/* Common */
* {
  font-family: 'Roboto Slab', sans-serif;
}

a.skip {
  background: #FFFFFF;
  position: absolute;
  left: 10;
  top: -40px;
  z-index: 100;
}

a.skip:focus{
  padding: 10px;
  top: 40px;
  color: #0A4176;
  text-decoration-style: solid;
}

hr {
  width:100%;
  padding: 0px;
  margin: 5px;
  border-top: 1px solid #70B2E7;
}

.non-footer-hr {
  width: 70%;
  margin: 0 auto;
}

.period {
  position: relative;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
}

.period-small {
  height: 4px;
  width: 4px;
  margin-left: -2px;
}

.period-green {
  background-color: #28812C;
}

.period-red {
  background-color: #D03C25;
}

.period-yellow {
  background-color: #FBBE0B;
}

.period-blue {
  background-color: #0A4176;
}

.highlight {
  background-color: rgba(10, 65, 118, 0.2);
}

.content-container {
  padding-top: 30px;
  margin: 0px 15px;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-left {
  margin-left: 2px;
}

.h1-formatted {
  font-family: 'Roboto Slab', sans-serif;
  color: #1E78BE;
  padding: 5px 15px;
  font-size: 28px;
  font-weight: initial;
  text-align: center;
}

.h2-formatted {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 24px;
  padding: 10px;
  margin-top: 20px;
  color: #1E78BE;
  text-align: center;
  font-weight: 400;
}

.exta-margin {
  margin-top: 50px;
  margin-bottom: 20px;
}

.top-alert {
  padding: 20px;
  background-color: #1E78BE;
  color: #FFFFFF;
}

.close-alert {
  margin-left: 10px;
  color: #FFFFFF;
  float: right;
  font-size: 22px;
  line-height: 18px;
  transition: 0.5s;
}

footer{
  background-color: #0A4176;
  color: #FFFFFF;
  padding: 30px;
  margin-top: 50px;
  text-align: center;
}

.link-container, .link-container-bottom {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* Navagation Bar Start */
  nav {
    width: 100%;
  }

.topnav {
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-container {
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  background-color: #0A4176;
}

.fake-logo {
  display: flex;
}

.title-left {
  padding: 15px 15px;
  background-color: #0A4176;
  color: #FFFFFF;
  font-size: 20px;
}

.title-right {
  position: relative;
  padding-top: 15px;
  left: -10px;
  color: #70B2E7;
  font-size: 20px;
}

.menu {
  display: none;
  background-color: #0A4176;
  color: #FFFFFF;
}

.hamburger {
  background-color: #0A4176;
  color: #FFFFFF;
  border: none;
  display: block;
  position: fixed;
  right: 1.5%;
  top: 1.5%;
}

.nav-item {
  display: inline-block;
  width: 100%;
  font-size: 17px;
  text-decoration: none;
  padding: 14px 16px;
  color: #FFFFFF;
  border-bottom: 2px solid #0A4176;
}

.nav-item:hover {
  color: #1E78BE;
  text-decoration: none;
}

.active-container {
  color: #1E78BE;
  padding-bottom: 5px;
  width: 100%;
}

.active {
    background-color: #FFFFFF;
    color: #1E78BE;
}

.underline-active {
  border-bottom: 3px solid #1E78BE;
}

.mat-icon-center {
  vertical-align: middle;
  position: relative;
  top: -3px;
}

/* Start of index.html */

.intro {
  margin-top: 75px;
  margin-bottom: 100px;
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;
}

.cursor-green {
  border-right: solid 3px rgba(40, 129, 44, 0.75);
}

.cursor-yellow {
  border-right: solid 3px rgba(251, 190, 11, 0.75);
}

.typewriter-green {
  animation: animated-text-green 1s steps(10, end) 1s 1 normal both,
             animated-cursor-green 600ms steps(10, end) infinite;
}

.typewriter-yellow {
  animation: animated-text-yellow 1.5s steps(10, end) 1s 1 normal both,
             animated-cursor-yellow 600ms steps(10, end) infinite;
}

@keyframes animated-text-green {
  from{width: 25px;}
  to{width: 100px;}
}

@keyframes animated-cursor-green {
  from{border-right-color: rgba(40, 129, 44, 0.75);}
  to{border-right-color: transparent;}
}

@keyframes animated-text-yellow {
  from{width: 0px;}
  to{width: 170px;}
}

@keyframes animated-cursor-yellow {
  from{border-right-color: rgba(251, 190, 11, 0.75);}
  to{border-right-color: transparent;}
}

.hello {
  color: #000000;
  padding-left: 25px;
  font-size: 28px;
}

.chris-container {
  padding-bottom: 10px;
  padding-left: 25px;
}

 .chris {
  color: #000000;
  font-family: "Rubik";
  font-weight: 300;
  font-size: 40px;
}

.elevator {
  color: #000000;
  padding: 0px 25px;
  font-size: 17.5px;
  line-height: 1.5em;
}

.timeline-container {
  display: flex;
  flex-direction: column;
}

.timeline p {
  font-family: 'Open-Sans', sans-serif;
  line-height: 1.5em;
  padding: 0px 25px;
  margin: 20px 0px 40px 0px;
  text-align: justify;
}

.container-padding {
  padding-left: 5px;
  padding-right: 5px;
}

.timeline-item {
  display: flex;
  position: relative;
  color:#000000;
}

/*Making a vertical line came from: https://codyhouse.co/gem/vertical-timeline/*/
.timeline-item::before {
  content: '';
  position: absolute;
  background: #CDCDCD;
  height: 100%;
  top: 20px;
  left: 15px;
  width: 2px;
	z-index: -1;
}

.timeline-item:last-child::before {
  height: 65%;
}

.timeline-icon .uk-badge {
	margin-top: 20px;
  width: 30px;
  height: 30px;
}

.timeline-card {
  flex-grow: 1;
  padding-left: 15px;
  margin-bottom: 40px;
  overflow: auto;
}

.uk-card-body p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

.card-extra {
  margin-bottom: 20px;
  overflow: auto;
}

.badge-yellow {
  background: #FBBE0B;
}

.badge-green {
  background: #28812C;
}

.badge-red {
  background: #D03C25;
}

.label {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 10px 10px;
  background: #0975E1;
  font-size: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: auto
}

.label-dark-blue {
  background: #0A4176;
}

.label-light-blue {
  color: #000000;
  background: #96C6EE;
}

/* End of home.html */

/*project.html css begins*/
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.project-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 300px;
  margin-bottom: 80px;
  box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: #000000;
}

.image-button {
  background-image: url(../images/projects/test.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

.bookcrossing  {
  background-image: url(../images/projects/bookcrossing.png);
}

.tyler-tech {
  background-image: url(../images/projects/tyler-tech.png);
}

.arbor {
  background-image: url(../images/projects/arbor_dictionary.png);
}

.alexa-cooks {
  background-image: url(../images/projects/alexa-cooks.png);
}

.speakeasy {
  background-image: url(../images/projects/speakeasy.png);
}

.top-line {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.right {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 14px;
  text-align: right;
}

.left {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  width: 65%;
}

.description {
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
  line-height: 1.5em;
}

.small-details {
  padding: initial;
  margin: -10px 10px 15px 10px;
  font-size: 12px;
}

.extra-margin {
  margin-top: 5px;
}

.summary {
  color: #595959;
}

.no-button {
  margin-bottom: 50px;
}

.btn {
  background-color: #1E78BE;
  padding: 12px 30px;
  margin-bottom: 20px;
  border-radius: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

.comment {
  font-family: 'Open-Sans', sans-serif;
  line-height: 1.5em;
  padding: 5px 15px;
  margin: 20px 0px;
}

.form-box {
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
}

.contact-form-input {
  font-family: 'Open-Sans', sans-serif;
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #D5DBE0;
}

label:after {
  content: "*";
  color: #1E78BE;
  margin-left: 5px;
}

input[type=submit] {
  background-color: #1E78BE;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #186098;
}

.margin-initial {
  margin: initial;
}

/* amazon.html css starts */
.sub-text {
  font-family: 'Open-Sans', sans-serif;
  line-height: 1.5em;
  padding: 5px 15px;
  margin: 20px 15px 60px 15px;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 4px 0px  rgba(0,0,0,0.5);
}

.image img {
  padding: 20px;
  max-width: 60px;
}

.text p{
  font-size: 10px;
  padding: 5px;
  margin: 5px 10px;
}

.text a {
  display: inline-block;
  font-size: 14px;
  padding: 5px;
  margin: 20px 10px 0px 10px;
  text-decoration: none;
  color: #0A4176;
}

.text a:visited {
  color: #0A4176;
}

.text a:hover {
  text-decoration: underline;
}

.why-text {
  font-size: 12px;
  line-height: 1.5em;
  padding: 5px;
  margin: 20px 10px;
  color: #595959;
}

.blue-border {
  border-bottom: #0A4176 solid 0.5px;
  border-top: #0A4176 solid 0.5px;
}

.green-border {
  border-bottom: #28812C solid 0.5px;
  border-top: #28812C solid 0.5px;
}

.yellow-border {
  border-bottom: #FBBE0B solid 0.5px;
  border-top: #FBBE0B solid 0.5px;
}

.red-border {
  border-bottom: #D03C25 solid 0.5px;
  border-top: #D03C25 solid 0.5px;
}

/* about.html css starts */

.profile-image {
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  width: 85%;
}

.bottom-image {
  display: none;
}

.images-container {
  margin-bottom: 40px;
}

.parallax {
  background-attachment: initial;
  min-height: 250px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.space-parallax {
  background-image: url(../images/about/space-lego.jpg);
}

.board-game-parallax {
  background-image: url(../images/about/board-games.jpg);
}

.asmr-parallax {
  background-image: url(../images/about/asmr.jpg);
}

.soccer-parallax {
  background-image: url(../images/about/soccer.jpg);
}

.big-dog-parallax {
  background-image: url(../images/about/big-dog.jpg);
}

.cooking-parallax {
  background-image: url(../images/about/cooking.jpg);
}

.sticky-notes-parallax {
  background-image: url(../images/about/sticky-notes.jpg);
}

.pictured-rocks-parallax {
  background-image: url(../images/about/pictured-rocks.jpg);
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000000;
}

.background-yellow {
  background-color: #FBBE0B;
}

.background-red {
  background-color: #D03C25;
}

.dark-red-hover:hover {
  background-color: #A6301D;
}

.background-green {
  background-color: #28812C;
}

.dark-green-hover:hover {
  background-color: #206723;
}

.dark-blue-hover:hover {
  background-color: #186098;
}

.parallax-text {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 10px;
  padding: 5px 5px;
  margin-bottom: 50px;
}

.black-text {
  color: #000000;
}

.semibold {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open-Sans', sans-serif;
  line-height: 1.5em;
}

.about-me-paragraph {
  font-size: 14px;
  font-family: 'Open-Sans', sans-serif;
  line-height: 1.5em;
  padding: 0px 15px;
}

.experience {
  color: #000000;
  font-size: 14px;
}

.experience_subheading {
  color: #6E6E6E;
  margin: 0;
  font-family: 'Open Sans';
  font-size: 12px;
}

.experience-item {
  padding: 5px 5px 5px 15px;
}

.white-btn {
  background-color: #1E78BE;
  padding: 12px 30px;
  border-radius: 30px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 40px;
}

.white-btn:hover {
  background-color: #186098;
}

/* bookcrossing.html css starts */
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  background: rgba(0, 0, 0, 0.75);
}

.lightbox:target {
  display: block;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  padding: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 1.5em;
  padding: 32px 20px 16px 20px;
  text-align: justify;
}

.content-margin {
  margin-bottom: 100px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.paragraph p {
  font-family: 'Open Sans', sans-serif;
  margin: 6px 0px 12px;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 1.5em;
}

.paragraph h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.paragraph a img {
  display: block;
  margin: 40px auto;
  width: 50%;
  box-shadow: 2px 2px 4px 0px  rgba(0,0,0,0.3);
}

.title-heading {
  font-size: 32px;
  font-weight: 300;
  margin: 0px;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 32px 20px 16px 20px;
}

.title-heading p {
  font-size: 20px;
}

.section h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.lfl-image {
  background-image: url(../images/bookcrossing/lfl_map.PNG);
}

.setting-image {
  background-image: url(../images/bookcrossing/settings.PNG);
}

.hidden-library-image {
  background-image: url(../images/bookcrossing/hidden-library.PNG);
}

.map-view-image {
  background-image: url(../images/bookcrossing/map-view.PNG);
}

.list-view-image {
  background-image: url(../images/bookcrossing/list-view.PNG);
}

.edit-library-image {
  background-image: url(../images/bookcrossing/edit_library.PNG);
}

.library-profile-image {
  background-image: url(../images/bookcrossing/library-profile.PNG);
}

video {
  width: 100%;
}
/* bookcrossing.html css end */

/* Tablet */
@media (min-width:768px) {
  .h1-formatted {
    font-size: 32px;
    margin-top: 30px;
  }

  a.skip {
    font-size: 20px;
    left: 50%;
  }

  a.skip:focus{
    top: 1.5%;
  }

  .margin-top {
    margin-top: 80px;
  }

  .nav-container {
    height: 75px;
    align-items: flex-start;
  }

  .hamburger {
    display: none;
  }

  nav {
    border-top: 2px solid #70B2E7;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .nav-item {
    width: initial;
    letter-spacing: 1.5px;
    font-size: 20px;
  }

  .active {
    background-color: transparent;
    color: #70B2E7;
    padding-bottom: 5px;
  }

  .underline-active {
    background-color: transparent;
    border-bottom: 3px solid #70B2E7;
  }

  .active-container {
    color: #70B2E7;
  }

  .active-container:hover {
    color: #FFFFFF;
  }

  .active-container:hover .underline-active {
    border-bottom: 3px solid #FFFFFF;
  }

  .title-left {
    padding: 20px;
    font-size: 27px;
  }

  .title-right {
    padding-top: 20px;
    font-size: 27px;
  }

  /* Index Tablet */

  @keyframes animated-text-green {
    from{width: 25px;}
    to{width: 115px;}
  }

  @keyframes animated-text-yellow {
    from{width: 0px;}
    to{width: 250px;}
  }

  .intro {
    margin-top: 150px;
    margin-left: 50px;
  }

  .chris {
    font-weight: 300;
    font-size: 60px;
  }

  .hello {
    font-size: 34px;
  }

  .timeline-item {
    width: 75%;
    margin: auto;
  }

  .timeline p {
    margin: 20px 50px 80px 50px;
  }

  .elevator {
    width: 80%;
    font-size: 22px;
  }

  /* About Tablet */

  .grid-container-about {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 400px 400px;
   margin-top: 30px;
    margin-bottom: 200px;
  }

  .about-me-paragraph {
    font-size: 16px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .semibold, .experience, .why-text, .description, .right {
    font-size: 16px;
  }

  .profile-image {
    width: 90%;
    padding: 10px;
    margin-top: 0px;
    grid-column: 1 / 1;
    grid-row-start: 1;
  }

  .bottom-image {
    display: inline;
    grid-row-start: 2;
  }

  .grid-container-exp-edu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px
  };

  .experience_subheading {
    font-size: 14px;
  }

  .white-btn {
    font-size: 18px;
    padding: 20px 90px;
  }

  .top-alert {
    margin-top: 120px;
  }

  .link-container-bottom {
    position:absolute;
    bottom: 0px;
    left: 25%;
  }

  /* Amazon Tablet */
  .sub-text {
    font-size: 20px;
  }

  .cards-container {
    flex-direction: row;
    justify-content: space-around;
    margin: 10px
  }

  .card {
    max-width: 350px;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 25px;
  }

  .image img {
    width: auto;
    height: auto;
    max-height: 165px;
    max-width: initial;
  }

  .text p {
    margin: 5px 20px;
    font-size: 14px;
  }

  .text a {
    margin: 20px 20px 0px 20px
  }

  .text a, .content, .paragraph p {
    font-size: 18px;
  }

  .why-text {
    margin: 20px 20px;
  }

  /* Project Tablet */
  .project-container {
    min-height: 675px;
  }

  .comment {
    width: 70%;
    margin: 20px auto;
  }

  .form-box {
    margin-left: 100px;
    margin-right: 100px;
  }

  .left, .paragraph h3 {
    font-size: 20px;
  }

  input[type=submit] {
    font-size: 16px;
    padding: 10px 30px;
  }

  /* BookCrossing Tablet */

  .grid-container-bookcrossing {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 20px;
  }

  .grid-container-bookcrossing p {
    margin: auto;
  }

  .grid-container-bookcrossing2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .grid-container-bookcrossing2 img {
    grid-column: 1;
    grid-row: 1;
  }

  .grid-container-bookcrossing2 p {
    margin: auto;
    grid-column: 2;
    grid-row: 1;
  }

  .title-heading {
    margin-top: 20px;
  }

  .content {
    font-size: 18px;
  }

  .section h2 {
    font-size: 26px;
  }

}

/* iPad Pro */
@media (min-width:1000px) {
  a.skip {
    font-size: 24px;
    left: 40%;
  }

  a.skip:focus{
    top: 1%;
  }

  .grid-container-about {
    margin-bottom: 100px;
    grid-template-rows: 400px 400px;
  }

  .profile-image {
    width: 75%;
  }

  .card {
    max-width: 450px;
  }
}

@media (min-width: 1200px) {
  a.skip:focus{
    position: absolute;
    top: 1%;
    left: 25%;
  }

  .margin-top {
    margin-top: 75px;
  }

  .background-color {
    background-color: #F9F9F9;
  }

  .content-container {
    width: 80%;
    margin: 10px auto 50px auto;
  }

  .top-alert {
    margin-top: initial;
  }

  .nav-container {
    flex-wrap: initial;
    justify-content: space-between;
  }

  nav {
    width: initial;
    border-top: initial;
  }

  .menu {
    justify-content: flex-end;
    margin-top: 12px;
  }

  .title-right {
    padding-top: initial;
    margin: auto;
  }

  /* Amazon Web */

  .cards-container {
    justify-content: flex-start;
  }

  .card {
    background-color: #FFFFFF;
    max-width: 350px;
    margin: 30px 20px;
  }

  .image img {
    margin-top: 10px;
    height: 150px;
  }

  .text a {
    font-size: 16px;
  }

  .text p {
    font-size: 14px;
    line-height: 1.5em;
  }

  .why-text {
    font-size: 14px;
    margin: 20px;
  }

  /* Projects Web */

  .project-container {
    min-height: 625px;
    max-width: 350px;
  }

  .link-container-bottom {
    left: 30%
  }

  .left {
    font-size: 22px;
    width: initial;
    text-align: initial;
  }

  .right {
    font-size: 14px;
    margin: initial;
    text-align: initial;
    margin-top: 5px;
  }

  .small-details {
    font-size: 12px;
    margin: 0px 20px 0px 20px;
    text-align: center;
    position: relative;
    top: 30%;
  }

  .summary {
    margin: -40px 15px 20px 15px;
  }

  .top-line {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .remove-line {
    margin-top: -60px
  }

  fieldset {
    width: 50%;
    margin: auto;
  }

  /* Home Web */

  .intro {
    margin-left: initial;
  }

  .timeline p {
    margin: initial;
    margin-bottom: 100px;
  }

  .timeline-container {
    max-width: 600px;
    margin: auto;
  }

  .timeline-card {
    max-width: 500px;
    margin-left: 32px;
    overflow: initial;
  }

  .timeline-item:nth-child(odd) {
    left: 50%;
    width: initial;
    margin: initial;
  }

  .timeline-item:nth-child(even) {
    right: 51%;
    width: initial;
    margin: initial;
  }

  .timeline-item:nth-child(even)::before {
    top: 20px;
    left: 621px;
  }

  .timeline-item:nth-child(even)::before:last-child {
    height: 65%;
  }

  .right-icon {
    position: absolute;
    top: 20px;
    left: 606px;
  }

  .shift-right {
    margin-left: 300px;
  }

  .shift-right-long-word {
    margin-left: 280px;
  }

  .shift-left {
    margin-right: 500px;
    margin-top: -30px;
  }

  /* About Web */
  .grid-container-about {
    margin-top: 50px;
  }

  .text-intial {
    text-align: initial;
  }

  .parallax {
    background-attachment: fixed;
  }

  /* BookCrossing Web */
  .book-crossing-content-container {
    width: 60%;
  }

  .section h2 {
    margin-top: 100px;
  }

  .paragraph p, .content-margin {
    line-height: 1.75em;
  }

}

@media (prefers-reduced-motion: reduce) {
  a.skip {
    transition: none;
  }

  .parallax {
    background-attachment: initial;
  }

  .typewriter-green, .typewriter-yellow {
    animation: none;
  }

  .cursor-green, .cursor-yellow {
    border-right: none;
  }
}
